<header class="header">
  <h1 class="header__title">Калькулятор бюджета</h1>
</header>

<section class="total-budget">
  <h2 class="total-budget__count"
    [ngClass]="{ 'total-budget__count--green': totalBudget > 0, 'total-budget__count--red': totalBudget < 0 }">
    {{ totalBudget }}</h2>
</section>


<app-add-item-form (formSubmit)="addItem($event)"></app-add-item-form>

<app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)" (update)="updateItem($event)">
</app-budget-item-list>
