@charset "utf-8"
  
$purple: rgb(159, 104, 235)
$light-grey: #f5f5f5
$dark: rgb(22, 28, 41)
$white: #ffffff

$green: #00cc86
$light-green: #bafacd

$red: #dc3900
$light-red: #ffe5e3

$roboto-font: 'Roboto', sans-serif
$link: $purple
